<%- include("../partials/header") %>
<div class="container add-dest">
    <h2 class="add-comment-heading">Add comment for <%= destination.destination %></h2>
    <form class="dest-form" action="/destinations/<%= destination._id %>/comments" method="POST">
        <div class="form-group">
            <input class="form-control" id="destination" type="text" name="comment[text]" placeholder="Add new comment">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-success" value="Add comment">
        </div>
    </form>
</div>


<%- include("../partials/footer") %>