<%- include("partials/header") %>
<section class="landing">
    <div class="title">
        <h1>Destinate</h1>
        <p>The worlds leading destination search and review community</p>
        <a href="/destinations" class="btn btn-lg btn-primary">Get started</a>
    </div>

    <ul class="showcase">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>


<%- include("partials/footer") %>